mixin icon-link(options = {})
  -
    const {
      label = '',
      url = 'javascript:;',
      hover = false,
      theme = '',
    } = options;
    let className = '';
    if(hover)
      className = 'icon-link_state-hover';
    if(theme === 'gray')
      className = 'icon-link_theme-gray';
  a.icon-link.cta-text(class=className href=url)= label
