@import '../../../assets/scss/utils/vars';

.icon-link {
  text-decoration: none;
  color: $mainColor;

  &:hover,
  &_state-hover {
    opacity: 0.5;
  }
  &_theme-gray {
    color: $darkShade50;
  }
}
