include ../checkbox/checkbox
mixin checkbox-list(options = {})
  -
    const {
    label = '',
    items = [],
    } = options
  .checkbox-list
    if label
      .checkbox-list__label.cta-text
        =label
    if items
      .checkbox-list__items
        each item in items
          .checkbox-list__item
            +checkbox(item)
