@import './utils/base';
@import './utils/vars';

.form-elements {
  background: #FFFFFF;
  margin: 0;

  &__header {
    margin-bottom: 65px;
  }

  &__content {
    width: 1440px;
    margin: 0 auto;
    padding-left: 58px;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 446px 1fr 126px 1fr;
  }

  &__content-column {
    display: flex;
    flex-direction: column;
  }

  &__input {
    width: $formBigElementWidth;
    margin-bottom: 21px;
  }

  &__input-double-date-range {
    width: $formBigElementWidth;
    margin-top: 23px;
    margin-bottom: 21px;
  }

  &__input-datepicker-range {
    width: $formMdElementWidth;
    margin-top: 19px;
    margin-bottom: 41px;
  }

  &__input-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
  }

  &__input-header-state {
    text-transform: uppercase;
    font-size: 12px;
    line-height: 9px;
  }

  &__input-item-subscribe {
    width: $formMdElementWidth;
  }

  &__checkbox-list {
    width: 240px;
  }

  &__radiobutton-list {
    margin-top: 28px;
    width: 221px;
  }

  &__toggle-list {
    margin-top: 30px;
  }

  &__like-button {
    margin-top: 25px;
  }

  &__like-button-items {
    margin-top: 16px;
    display: flex;
    justify-content: space-between;
    width: 90px;
  }

  &_input-header-toogle, &_input-toogle {
    margin-bottom: 16px;
  }
}
