mixin input(options = {})
  -
    const {
      type = 'text',
      placeholder = '',
      label = '',
      state = '',
      value = '',
      dateMask = false,
      expandMoreArrow = false,
      forwardArrow = false,
      modificatorFocus = false,
      datepicker = false,
      datepickerRange = false,
    } = options;
    let inputClass = 'input__tag input-text';
    if(dateMask)
      inputClass = inputClass + ' input_mask-date'
    if(datepicker)
      inputClass = inputClass + ' input_datepicker'
    if(datepickerRange)
      inputClass = inputClass + ' input_datepicker-range'
    if(dateMask)
      inputClass = inputClass + ' input_mask-date'
    if(modificatorFocus)
      inputClass = inputClass + ' input_focus'
  .input
    if label || state
      .input__header
        if label
          .cta-text
            =label
        if state
          .state-text
            =state
    input(type=type placeholder=placeholder class=inputClass value=value)
    if expandMoreArrow
      i.material-icons.input__expand-more expand_more
    if forwardArrow
      i.material-icons.input__arrow-forward.color-button arrow_forward

