@import '../../../assets/scss/utils/vars';

.input {
  position: relative;

  &__tag {
    @include formElement
  }

  .input_width_sm {
    width: $formSmElementWidth;
  }

  .input_width_md {
    width: $formMdElementWidth;
  }

  .input_width_bg {
    width: $formSmElementWidth;
  }

  &__tag:focus, &__tag:hover, .input_focus {
    @include formElementFocus
  }

  &__header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
  }

  &__header-state {
    text-transform: uppercase;
    font-size: 12px;
    line-height: 9px;
  }

  &__tag::placeholder {
    @include formElementPlaceholder
  }

  &__expand-more {
    position: absolute;
    right: 0;
    margin-top: 10px;
    margin-right: 10px;
  }

  &__arrow-forward {
    position: absolute;
    right: 0;
    margin-top: 10px;
    margin-right: 10px;
  }
}
