mixin checkbox(options = {})
  -
    const {
      label = '',
      labelHeader = '',
      checked = false,
    } = options;
  label.checkbox
    input(type="checkbox" checked=checked).checkbox__input
    span.checkbox__checkmark
    .checkbox__label
      if labelHeader
        .checkbox__label-header.cta-text
          =labelHeader
      div(class=labelHeader ? 'checkbox__label-sub-text' : '') !{label}
