@import '../../../assets/scss/utils/vars';

.checkbox {
  position: relative;
  display: block;
  padding-left: 30px;
  cursor: pointer;
  color: $darkShade50;
  font-size: 14px;
  line-height: 1.3;

  &__input {
    display: none;
  }

  &__checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 18px;
    width: 18px;
    border: $borderFormElement;
    border-radius: 4px;
    background-color: #fff;
  }

  &_input:checked ~ &__checkmark {
    background-color: #fff;
    border: 1px solid $purple;
  }

  &__checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }

  &__input:checked ~ &__checkmark:after {
    display: block;
  }

  &__checkmark:after {
    left: 6px;
    top: 3px;
    width: 4px;
    height: 7px;
    border: solid $purple;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
  }
}
