@import '../../../assets/scss/utils/vars';

.checkbox {
  position: relative;
  display: block;
  padding-left: 30px;
  cursor: pointer;
  color: $darkShade50;
  font-size: 14px;
  line-height: 1.3;

  &__input {
    display: none;
  }

  &__checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    border: $borderFormElement;
    border-radius: 4px;
    background-color: #fff;
  }

  &_input:checked ~ &__checkmark {
    background-color: #fff;
    border: 1px solid $mainColor;
  }

  &__checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }

  &__input:checked ~ &__checkmark:after {
    display: block;
  }

  &__checkmark:after {
    left: 6px;
    top: 3px;
    width: 4px;
    height: 7px;
    border: solid $mainColor;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
  }

  &__label-header {
    padding-top: 3px;
    letter-spacing: 0.3px;
  }

  &__label-text {
    font-size: 12px;
    padding-top: 6px;
    line-height: 14px;
  }
}
