mixin checkbox(options = {})
  -
    const {
      label = '',
      checked = false,
    } = options;
  label.checkbox
    input(type="checkbox" checked=checked)
    span.checkbox__checkmark
    =label
