@import '../../../assets/scss/utils/vars';
.checkbox {
  position: relative;
  display: block;
  padding-left: 30px;
  cursor: pointer;
  color: $darkShade50;
  font-size: 14px;
  line-height: 1.3;
  user-select: none;
}

/* Hide the browser's default checkbox */
.checkbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkbox__checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 18px;
  width: 18px;
  border: 1px solid $darkShade25;
  border-radius: 4px;
  background-color: #fff;
}

/* When the checkbox is checked, add a blue background */
.checkbox input:checked ~ .checkbox__checkmark {
  background-color: #fff;
  border: 1px solid $purple;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkbox__checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.checkbox input:checked ~ .checkbox__checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.checkbox__checkmark:after {
  left: 6px;
  top: 3px;
  width: 4px;
  height: 7px;
  border: solid $purple;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
