mixin select(options = {})
  .select
    .select__item Сколько гостей
    .select__dropdown
      .select__dropdown-item(data-value='') Сколько гостей
      .select__dropdown-item(data-value='') Сколько гостей
      .select__dropdown-item(data-value='') Сколько гостей

