@import '../../../assets/scss/utils/vars';

.double-date-range {
  display               : flex;
  justify-content       : space-between;
}

.double-date-range__cell-label {
  text-transform        : uppercase;
  line-height           : 9px;
  margin-bottom         : 8px;
}

.double-date-range__input-wraper {
  position               : relative;
  width                  : $formSmElementWidth;
}

.double-date-range__input {
  width                  : $formSmElementWidth;
  @include formElement
}

.double-date-range__input::placeholder {
  @include formElementPlaceholder
}

.double-date-range__input:focus, .double-date-range__input:hover {
  @include formElementFocus
}
