include ../input/input
mixin double-date-range(options = {})
    -
      const {first = {}, second = {}} = options;
    .double-date-range
        .double-date-range__cell
            .double-date-range__cell-label.cta-text
              =first.label
            .double-date-range__input-wraper
              +input({dateMask:true, expandMoreArrow: true, placeholder:first.placeholder, value:first.value, datepicker: true})
        .double-date-range__cell
            .double-date-range__cell-label.cta-text
              =first.label
            .double-date-range__input-wraper
              +input({dateMask:true, expandMoreArrow: true, placeholder:second.placeholder, value:second.value, datepicker: true})
