@import '../../../assets/scss/utils/vars';

.double-date-range {
  display: flex;
  justify-content: space-between;

  &__cell-label {
    text-transform: uppercase;
    line-height: 9px;
    margin-bottom: 8px;
  }

  &__input-wraper {
    position: relative;
    width: $formSmElementWidth;
  }

  &__input {
    width: $formSmElementWidth;
    @include formElement
  }

  &__input::placeholder {
    @include formElementPlaceholder
  }

  &__input:focus, &__input:hover {
    @include formElementFocus
  }
}
