@import '../../../assets/scss/utils/vars';
.subscribe {
  display: flex;
  position: relative;
  width: max-content;

  &__input {
  @include formElement($formMdElementWidth)
}

&__input::placeholder {
  @include formElementPlaceholder
}

&__input:focus, &__input:hover {
  @include formElementFocus
}

&__button {
  background             : none;
  border: none;
  box-sizing             : border-box;
  padding-right          : 0px;
  position: absolute;
  right: 0px;
}

&__arrow-forward {
  padding-right          : 8px;
  padding-top            : 3px;
}

}
