@import '../../assets/scss/utils/vars.scss';

.header {
  padding: 15px 140px;
  display: flex;
  background: #FFFFFF;
  height: 70px;
}

.header__menu {
  flex: auto;
  display: flex;
  justify-content: flex-end;
  margin-right: 32px;
}

.header__auth {
  align-self: center;
}

.header-auth__btn {
  display: flex;
}

.header-auth__user {
  padding-left: 30px;
  height: 30px;
  border-left-style: groove;
  border-left-width: 1px;
  border-left-color: rgba(31, 32, 65, 0.1);
  align-self: center;
  display: flex;
}
