@import '../../assets/scss/utils/vars.scss';

.header {
  padding: 15px 140px;
  display: flex;
  background: #FFFFFF;
}

.header__menu {
  flex: auto;
  display: flex;
  justify-content: flex-end;
  margin-right: 32px;
}

.header__auth {
  align-self: center;
}

