mixin header(options = {})
  -
    const {
      menu = {},
      user = null,
    } = options;
  include header-menu/header-menu
  include header-menu-mobile/header-menu-mobile
  include header-auth/header-auth
  header.header.box-shadow-shade-5
    .header__content
      .header__logo
        .header__menu-mobile
          +header-menu-mobile(menu)
        a(href='/')
          include ../logo/logo
      .header__menu
        +header-menu(menu)
      .header__auth
        +header-auth({user: user})
