@import '../../assets/scss/utils/vars.scss';

.header {
  background: #FFFFFF;
}
.header__content {
  padding: 15px 140px;
  display: flex;
  min-height: 70px;
  @media only screen and (max-width: 1440px) {
    padding: 15px 8%;
  }
  @media only screen and (max-width: 1200px) {
    padding: 15px 2%;
  }
  @media only screen and (max-width: 940px) {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 50% 50%;
  }
}

.header__menu {
  flex: auto;
  display: flex;
  justify-content: flex-end;
  margin-right: 32px;
  @media only screen and (max-width: 940px) {
    grid-column: 1 / 3;
    grid-row: 2/2;
    display: flex;
    justify-content: center;
    margin-right: 0px;
  }
}

.header__auth {
  align-self: center;
  @media only screen and (max-width: 940px) {
    display: flex;
    justify-content: flex-end;
  }
}

