@import '../../assets/scss/utils/vars';

.bullet-list {
  padding: 0;
  margin: 0;

  .bullet-list__label {
    margin-bottom: 13px;
  }
  &__item {
    position: relative;
    padding-left: 1.3rem;
    margin-top: 0.5625rem;
    list-style-type: none;
  }

  &__item::before {
    position: absolute;
    top: 0.4375rem;
    left: 0;
    content: '';
    width: 0.625rem;
    height: 0.625rem;
    background-color: $darkShade25;
    border-radius: 0.625rem;
  }
}