mixin header-auth()
  include ../../forms/button/button
  .header-auth
    if(user)
      .header-auth__user
        include header-auth-user/header-auth-user
        +header-auth-user(user)
    else
      .header-auth__btn
        .header-auth__login
          +button({label: 'Login', isEmpty: true})
        .header-auth__register
          +button({label: 'Register'})
      .header-auth__mobile
        i.material-icons.header-auth__mobile-lock.color-dark-shade-50 lock
