mixin header-auth()
  include ../../buttons/button/button
  .header-auth
    if(user)
      .header-auth__user
        include header-auth-user/header-auth-user
        +header-auth-user(user)
    else
      .header-auth__btn
        .header-auth__login
          +button('Login')(class='header-auth__button button_empty')
        .header-auth__register
          +button('Register')
      .header-auth__mobile
        i.material-icons.header-auth__mobile-lock.color-dark-shade-50 lock
