include ../../forms/input/input
mixin footer-widgets(options = {})
  -
    const {
      logoText = '',
      menuColumn = [],
      subscribe = {label: '', text: ''},
      copyright = '',
      } = options;
  .footer-widgets.box-shadow-shade-5
    .footer-widgets__widgets
      .footer-widgets__widgets-logo
        .footer-widgets__widgets-logo-img
          include ../../logo/logo
        .footer-widgets__widgets-logo-text
          = logoText
      each column in menuColumn
        .footer-widgets__widgets-menu
          .footer-widgets__widgets-menu-label.cta-text
            a.footer-widgets__a(href= column.label.url)
              = column.label.text
          .footer-widgets__widgets-menu-items
            each item in column.items
              .footer-widgets__widgets-menu-items-item
                a.footer-widgets__a(href= item.url)
                  = item.text
      .footer-widgets__widgets-subscribe
        .footer-widgets__widgets-subscribe-label.cta-text
          = subscribe.label
        .footer-widgets__widgets-subscribe-text
          = subscribe.text
        .footer-widgets__widgets-subscribe-form
          +input({placeholder: 'Your email address', forwardArrow: true})
    .footer-widgets__footer
      .footer-widgets__footer-copyright
        =copyright
      .footer-widgets__footer-social
        include  ../footer-social/footer-social


