.footer-widgets {
  background: white;
}

.footer-widgets__widgets {
  display: flex;
  padding-top: 100px;
  padding-left: 140px;
}

.footer-widgets__widgets-logo {
  width: 240px;
  margin-right: 60px;
}

.footer-widgets__widgets-logo-text {
  padding-top: 17px;
  padding-left: 0px;
  letter-spacing: -.1px;
  width: 262px;
}

.footer-widgets__widgets-menu {
  width: 100px;
  margin-right: 100px;
  margin-top: 4px;
}

.footer-widgets__widgets-menu-label {
  margin-bottom: 22px;
}

.footer-widgets__widgets-menu-items {
  margin-left: 1px;
  letter-spacing: -.1px;
}

.footer-widgets__widgets-menu-items-item {
  line-height: 17px;
  margin-bottom: 20px;
}

.footer-widgets__widgets-subscribe {
  margin-top: 4px;
}

.footer-widgets__widgets-subscribe-label {
  letter-spacing: -0.2px;
  word-spacing: -0.6px;
  margin-bottom: 18px;
}

.footer-widgets__widgets-subscribe-text {
  width: 220px;
  letter-spacing: -.2px;
  word-spacing: .3px;
}
