$material-icons-font-path: '~material-icons/iconfont/';
@import '~material-icons/iconfont/material-icons.scss';
@import '~normalize.css';
@import 'vars';
@import 'colors';
@import 'fonts';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  @include defaultFont;
  height: 100%;
  width: 100%;
}

.widget-title {
  font-family: $widgetsTitleFont;
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  color: $darkShade;
}

.title-in-widget {
  font-family: $widgetsTitleFont;
  font-weight: bold;
  font-size: 19px;
  line-height: 24px;
  color: $darkShade;
}

.cta-text {
  @include ctaText;
}

.state-text {
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
  color: $darkShade50;
}

.input-text {
  @include defaultFont;
}
