$material-icons-font-path: '~material-icons/iconfont/';
@import '~material-icons/iconfont/material-icons.scss';
@import 'vars';
@import 'colors';
@import 'fonts';

body {
  @include defaultFont;
  height                : 100%;
  width                 : 100%;
}

.widget-title {
  font-family           : $widgetsTitleFont;
  font-weight           : bold;
  font-size             : 24px;
  line-height           : 30px;
  color                 : $darkShade;
}
.title-in-widget {
  font-family           : $widgetsTitleFont;
  font-weight           : bold;
  font-size             : 19px;
  line-height           : 24px;
  color                 : $darkShade;
}
.cta-text {
  font-weight           : bold;
  font-size             : 12px;
  line-height           : 15px;
  text-transform        : uppercase;
  color                 : $darkShade
}

.state-text {
  font-weight           : normal;
  font-size             : 12px;
  line-height           : 15px;
  text-transform        : uppercase;
  color                 : $defaultColor
}

.input-text {
  @include defaultFont;
}
