@import "vars";
.background-dark-shade{
  background-color: $darkShade;
}
.background-dark-shade-75{
  background-color: $darkShade75;
}
.background-dark-shade-50{
  background-color: $darkShade50;
}
.background-dark-shade-25{
  background-color: $darkShade25;
}
.background-dark-shade-5{
  background-color: $darkShade5;
}

.background-dark-shade{
  background-color: $darkShade;
}

.background-button {
  background-color: $purple;
}

.background-selected {
  background-color: $green;
}
