@font-face {
  font-family: 'Quicksand';
  src: url('/assets/fonts/quicksand/Quicksand-Regular.eot');
  src: local('☺'), url('/assets/fonts/quicksand/Quicksand-Regular.woff') format('woff'), url('/assets/fonts/quicksand/Quicksand-Regular.ttf') format('truetype'), url('/assets/fonts/quicksand/Quicksand-Regular.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Quicksand';
  src: url('/assets/fonts/quicksand-bold/Quicksand-Bold.svg');
  src: local('☺'), url('/assets/fonts/quicksand-bold/Quicksand-Bold.woff') format('woff'), url('/assets/fonts/quicksand-bold/Quicksand-Bold.ttf') format('truetype'), url('/assets/fonts/quicksand-bold/Quicksand-Bold.svg') format('svg');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('/assets/fonts/montserrat/Montserrat-Regular.eot');
  src: local('☺'), url('/assets/fonts/montserrat/Montserrat-Regular.woff') format('woff'), url('/assets/fonts/montserrat/Montserrat-Regular.ttf') format('truetype'), url('/assets/fonts/montserrat/Montserrat-Regular.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('/assets/fonts/montserrat-bold/Montserrat-Bold.eot');
  src: local('☺'), url('/assets/fonts/montserrat-bold/Montserrat-Bold.woff') format('woff'), url('/assets/fonts/montserrat-bold/Montserrat-Bold.ttf') format('truetype'), url('/assets/fonts/montserrat-bold/Montserrat-Bold.svg') format('svg');
  font-weight: bold;
  font-style: normal;
}
