mixin dropdown(options = {})
  -
    const {
        label = '',
        state = '',
        expanded = false,
        dropdown = {}
    } = options;
    icon = expanded ? 'expand_less' : 'expand_more'
  .dropdown
    if label || state
      .dropdown__header
        if label
          .cta-text= label
        if state
          .state-text= state
    .dropdown__input(class = expanded ? 'dropdown_state-open': '')
      .dropdown__value= dropdown.valueLabel
      i.material-icons.dropdown__icon= icon
    .dropdown__items(class = expanded ? 'dropdown__items_state-open': '')
      .dropdown__item
        .dropdown__item-label test
        .dropdown__item-control
          .dropdown__item-control-remove -
          .dropdown__item-control-count -
          .dropdown__item-control-add +
