@import '../../../assets/scss/utils/vars';

.dropdown {

  .dropdown__input {
    @include formElement;
    position: relative;
  }

  .dropdown__input.dropdown_state-open {
    border-radius: 4px 4px 0 0;
  }

  &__header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 4px;
  }

  &__value {
    margin-top: 7px;
  }

  &__icon {
    position: absolute;
    right: 0;
    top: 0;
    padding-right: 9px;
    padding-top: 8px;
  }

  &__items {
    display: none;
  }

  &__items_state-open {
    display: block;
  }
}


