mixin dropdown(options = {})
  -
    const {
        placeHolder = ''
    } = options;
  .dropdown.iqdropdown
    p.iqdropdown-selection
    .iqdropdown-menu
      .iqdropdown-menu-option(data-id='adult' data-defaultcount='0' data-mincount='0')
        div
          p.iqdropdown-item Adults
          p.iqdropdown-description 12+ years
      .iqdropdown-menu-option(data-id='minor' data-defaultcount='0' data-mincount='0')
        div
          p.iqdropdown-item Children
          p.iqdropdown-description 2 - 11 years
      .iqdropdown-menu-option(data-id='infant')
        div
          p.iqdropdown-item Infants
          p.iqdropdown-description 2 years
      button.iqdropdown-menu-close
        | Cerrar
