@import '../../../assets/scss/utils/vars.scss';

.header-menu {
  display: flex;
  align-items: center;
  font-size: 14px;
}

.header-menu__item {
  margin-left: 30px;
  color: rgba(31,32,65,.5);
  letter-spacing: -.2px;
  display: flex;
}

.header-menu__item_active {
  font-weight: bold;
  color: rgba(31, 32, 65, 0.75);
  letter-spacing: -0.12px;
}

.header-menu_sub-items {
  margin-right: -9px;
}

.header-menu__expand_more {
  padding-top: 1px;
}
