@import '../../../assets/scss/utils/vars.scss';

.header-menu {
  display: flex;
  align-items: center;
  font-family: $widgetsFont;
  font-size: 14px;
}

.header-menu__item {
  margin-left: 28px;
  display: flex;
  align-items: center;
  color: rgba(31, 32, 65, 0.5);
}

.header-menu__item_active {
  font-weight: bold;
  color: rgba(31, 32, 65, 0.75);
}

.header-menu__item:first-of-type {
  margin-left: 0px;
  margin-right: 2px;
}

.header-menu_sub-items {
  margin-right: -8px;
}
