mixin header-menu(options = {})
  -
    const {menu = []} = options;
  .header-menu
    each item in menu
      .header-menu__item(class=(item.selected ? 'header-menu__item_active': '') + (item.menu ? ' header-menu_sub-menu': ''))
        a.header-menu__item-a(href=item.url)= item.name
        if item.items
          i.material-icons.header-menu__expand_more expand_more
          .header-menu__sub-menu
            each sub_item in item.items
              a.header-menu__sub-menu-item(class=(sub_item.selected ? 'header-menu__item_active' : '') + (sub_item.menu ? ' header-menu_sub-menu' : '') href=sub_item.url)= sub_item.name
