.footer-social
  img(src='../assets/img/icons/twitter.png' width=24 height=20)
  img(src='../assets/img/icons/fb.png' width=22 height=22)
  img(src='../assets/img/icons/inst.png' width=22 height=22)
