$background: linear-gradient(180deg, rgb(188, 156, 255) 0%, rgb(139, 164, 249) 100%);
.button {
  position: relative;
  padding: 10px 21px 9px 19px;
  border-radius: 22px;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
  color: #FFFFFF;
  border: none;
  background: $background;
  width: max-content;
  text-transform: uppercase;
  letter-spacing: -0.1px;


  &_size-medium {
    padding: 15px 22px 14px 20px;
  }

  &_size-medium, &_size-large {
    padding: 14px 20px 15px 20px;
  }

  &_size-large {
    width: 100%;
  }

  &:focus {
    outline: none;
  }

  &:hover, &_hover {
    opacity: 0.5;
  }

  &_theme-empty {
    padding: 8px 19px 7px 18.3px;
    border-radius: 22px;
    border: none;
    background: $background;
    width: max-content;
    color: #BC9CFF;
    background: white;
    position: relative;
    transform-style: preserve-3d;
    margin-top: 2px;
  }

  &_theme-empty.button_size-medium, &_theme-empty.button_size-large {
    padding: 12.5px 15px 12px 20.3px;
  }

  &_theme-empty.button_size-large {
    width: 100%;
  }

  &_theme-empty:before {
    content: '';
    position: absolute;
    top: -2px;
    right: -2px;
    bottom: -2px;
    left: -2px;
    border-radius: inherit;
    background: $background;
    transform: translateZ(-1px);
  }

  &_theme-empty:hover, &_theme-empty.button_hover {
    opacity: 1;
  }

  &_theme-empty:hover:before, &_hover:before {
    opacity: 0.5;
  }

  &__arrow {
    position: absolute;
    right: 0;
    top: 0;
    padding-right: 10px;
    padding-top: 10px;
  }
}
