mixin button(options = {})
  -
    const {
      label = '',
      size = '',
      hover = false,
      isEmpty = false,
      arrow = false,
    } = options;
    let className = 'button';
    if(isEmpty)
      className += ' button_theme-empty';
    if(hover)
      className += ' button_hover';
    switch (size) {
      case 'm':
      className += ' button_size-medium';
      break;
      case 'l':
      className += ' button_size-large';
      break;
    }
    if(size === 'l')
      className += ' button_size-large';
  button(class=className)= label
    if arrow
      i.material-icons.button__arrow arrow_forward
