$background: linear-gradient(180deg, rgb(188, 156, 255) 0%, rgb(139, 164, 249) 100%);
$pGorizont: 10;
$pVertical: 20;
$border: 2;
.button {
  padding: ($pGorizont + 1) + px ($pVertical) + px ($pGorizont - 1) + px ($pVertical) + px;
  border-radius: 22px;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
  color: #FFFFFF;
  border: none;
  background: $background;
  width: min-content;
  text-transform: uppercase;
}

.button:hover {
  opacity: 0.5;
}

.button_empty {
  padding: ($pGorizont - 2) + px ($pVertical - 2) + px ($pGorizont - 3) + px;
  border-radius: 22px;
  border: none;
  background: $background;
  width: min-content;
  color: #BC9CFF;
  background: white;
  position: relative;
  transform-style: preserve-3d;
  margin-top: 2px;
  margin-right: 2px;
}

.button_empty:before {
  content: '';
  position: absolute;
  top: -2px;
  right: -2px;
  bottom: -2px;
  left: -2px;
  border-radius: inherit;
  background: $background;
  transform: translateZ(-1px);
}

.button_empty:hover {
  opacity: 1;
}

.button_empty:hover:before {
  opacity: 0.5;
}
