mixin rate-button(options = {})
  -
    const {
      value = 0
    } = options;
  .rate-button
    - for (let x = 0; x < 5; x++)
      - const icon = x < value ? 'star' : 'star_border';
       i.material-icons.rate-button__icon= icon
