mixin header-auth-user(options = {})
  .header-auth-user.color-dark-shade-50
    .header-auth__user-name
      = user.name
    .header-auth__user-mobile
      i.material-icons.header-auth_user-mobile-user perm_identity

