mixin header-auth-user(options = {})
  .header-auth-user.color-dark-shade-50
    .header-auth-user__name
      = user.name
    .header-auth-user__mobile
      i.material-icons.header-auth-user__user perm_identity

