@import "../../../assets/scss/utils/vars";

.header-menu-mobile {
  display: flex;
  position: relative;

  &__icon {
    font-size: 30px;
  }

  &__menu, &__sub-menu {
    height: 0;
    overflow: hidden;
    transition: height 200ms;
  }

  &__menu {
    background: white;
    width: 480px;
    position: absolute;
    top: 40px;
    left: -8px;
    z-index: 1;
  }

  &__menu-item, &__sub-menu-item {
    border-top: 1px groove $darkShade10;
    padding: 10px;
    display: flex;
  }

  &__item_active {
    font-weight: bold;
    color: $darkShade75;
    letter-spacing: -0.12px;
  }
}
