include templates/head
include block/header/header
doctype html
html
  +head({title: 'form_elements', page: 'form_elements'})
  body
    .form-elements
      .form-elements__column
        .form-elements__input

      .form-elements__column
      .form-elements__column
