include templates/head
include block/header/header
include block/forms/input/input
include block/forms/dropdown/dropdown
include block/forms/double-date-range/double-date-range
include block/forms/checkbox-list/checkbox-list
include block/forms/radiobutton-list/radiobutton-list
include block/forms/toggle/toggle
include block/forms/like-button/like-button
include block/forms/rate-button/rate-button
include block/forms/range-slider/range-slider
include block/forms/button/button
include block/forms/icon-link/icon-link
include block/pagination/pagination

-
  const dropdown = {
    label: 'Dropdown',
    state: 'Default',
    dropdown: {
      placeholder: 'Сколько гостей',
      get valueLabel() {
        return this.placeholder;
      },
    }
  }
  const dropdownRooms = {
    label: 'Dropdown',
    state: 'Default',
    dropdown: {
      get valueLabel() {
        let label = '';
        const count = this.items.length > 2 ? 2 : this.items.length;
        for(let i = 0; i < count; i++) {
          const item = this.items[i];
          this.placeholder += item.value;
          if (label.length > 0) {
            label += ', ';
          }
          label += `${item.value} ${item.valueLabel}`;
        }
        if (this.items.length > 2) {
          label +='...';
        }
        if (label == '') {
          return this.placeholder;
        }
        return label;
      },

      items: [
        {
          label: 'спальни',
          value: 2,
          get valueLabel() {
            if (
                    [0, 5, 6, 7, 8, 9].indexOf(this.value % 10) >= 0
                    || [11, 12, 13, 14].indexOf(this.value % 100) >= 0
            ) {
              return 'спален'
            }
            if (this.value % 10 === 1) {
              return 'спальня';
            }
            if ([2, 3, 4].indexOf(this.value % 10) >= 0) {
              return 'спальни'
            }
            return 'test'
          },
        },
        {
          label: 'кровати',
          value: 2,
          get valueLabel() {
            if (
                [0, 5, 6, 7, 8, 9].indexOf(this.value % 10) >= 0
                || [11, 12, 13, 14].indexOf(this.value % 100) >= 0
            ) {
              return 'кроватей';
            }
            if (this.value % 10 === 1) {
              return 'кровать';
            }
            if ([2, 3, 4].indexOf(this.value % 10) >= 0) {
              return 'кровати';
            }
            return '';
          },
        },
        {
          label: 'ванные комнаты',
          value: 2,
          get valueLabel() {
            if (
                [0, 5, 6, 7, 8, 9].indexOf(this.value % 10) >= 0
                || [11, 12, 13, 14].indexOf(this.value % 100) >= 0
            ) {
              return 'ванных комнат';
            }
            if (this.value % 10 === 1) {
              return 'ванная комната';
            }
            if ([2, 3, 4].indexOf(this.value % 10) >= 0) {
              return 'ванные комнаты';
            }
            return '';
          },
        },
      ],
    },

  }
  const dropdownRoomsExpanded = {
    label: 'Dropdown',
    state: 'Default',
    expanded: true,
    dropdown: {
      get valueLabel() {
        let label = '';
        const count = this.items.length > 2 ? 2 : this.items.length;
        for(let i = 0; i < count; i++) {
          const item = this.items[i];
          this.placeholder += item.value;
          if (label.length > 0) {
            label += ', ';
          }
          label += `${item.value} ${item.valueLabel}`;
        }
        if (this.items.length > 2) {
          label +='...';
        }
        if (label == '') {
          return this.placeholder;
        }
        return label;
      },

      items: [
        {
          label: 'спальни',
          value: 2,
          get valueLabel() {
            if (
                    [0, 5, 6, 7, 8, 9].indexOf(this.value % 10) >= 0
                    || [11, 12, 13, 14].indexOf(this.value % 100) >= 0
            ) {
              return 'спален'
            }
            if (this.value % 10 === 1) {
              return 'спальня';
            }
            if ([2, 3, 4].indexOf(this.value % 10) >= 0) {
              return 'спальни'
            }
            return 'test'
          },
        },
        {
          label: 'кровати',
          value: 2,
          get valueLabel() {
            if (
                [0, 5, 6, 7, 8, 9].indexOf(this.value % 10) >= 0
                || [11, 12, 13, 14].indexOf(this.value % 100) >= 0
            ) {
              return 'кроватей';
            }
            if (this.value % 10 === 1) {
              return 'кровать';
            }
            if ([2, 3, 4].indexOf(this.value % 10) >= 0) {
              return 'кровати';
            }
            return '';
          },
        },
        {
          label: 'ванные комнаты',
          value: 2,
          get valueLabel() {
            if (
                [0, 5, 6, 7, 8, 9].indexOf(this.value % 10) >= 0
                || [11, 12, 13, 14].indexOf(this.value % 100) >= 0
            ) {
              return 'ванных комнат';
            }
            if (this.value % 10 === 1) {
              return 'ванная комната';
            }
            if ([2, 3, 4].indexOf(this.value % 10) >= 0) {
              return 'ванные комнаты';
            }
            return '';
          },
        },
      ],
    },

  }
  const doubleDateRange = {
    first: {
      label: 'date Dropdown',
      placeholder: 'ДД.ММ.ГГГГ',
      value: ''
    },
    second: {
      label: 'date Dropdown',
      placeholder: 'ДД.ММ.ГГГГ',
      value: '19.08.2019'
    },
  }
  const checkboxList = {
    label: 'Checkbox Buttons',
    items: [
      {label: 'Можно курить'},
      {label: 'Можно с питомцами', checked: true},
      {label: 'Можно пригласить гостей (до 10 человек)', checked: true},
    ],
  }
  const radioButtons = {
    label: 'Radio Buttons',
    name: 'sex',
    items: [
      {label: 'Мужчина', value: 'men', checked: true},
      {label: 'Женщина', value: 'women'},
    ],
  }
  const toggle = {
    label: 'Toggle',
    items: [
      {label: 'Получать спецпредложения', checked: true},
      {label: 'Получать спецпредложения'},
    ],
  }
  const rangeSlider = {
    label: 'Range Slider',
    min: 0,
    max: 15000,
    valueMin: 5000,
    valueMax: 10000,
  }
  const buttons = [
    [
      {label: 'CLICK ME', size: 'm'},
      {label: 'CLICK ME', hover: 'true', size: 'm'},
    ],
    [
      {label: 'CLICK ME', size: 'm', isEmpty: true},
      {label: 'CLICK ME', hover: 'true', size: 'm', isEmpty: true},
    ],
  ];

doctype html
html
  +head({title: 'form_elements', page: 'form_elements'})
  body.form-elements
      header.form-elements__header
        include block/ui-header/ui-header
      .form-elements__content
        .form-elements__content-column
          .form-elements__input
            +input({label: 'Text field', state: 'Default',placeholder:'Email'})
          .form-elements__input
            +input({label: 'Text field', state: 'Hover / Focus', value:'This is pretty awesome', modificatorFocus: true})
          .form-elements__input
            .form-elements__input-item
              +dropdown(dropdown)
          .form-elements__input
            .form-elements__input-header
              .form-elements__input-header-label.cta-text masked text field
              .form-elements__input-header-state Default
            .form-elements__input-item
              +input({placeholder: 'ДД.ММ.ГГГГ', dateMask: true})
          .form-elements__input-double-date-range
            +double-date-range(doubleDateRange)
          .form-elements__input-datepicker-range
            +input({label:'filter date dropdown', expandMoreArrow: true, placeholder:'ДД.ММ.ГГГГ', value:'19 авг - 23 авг', datepickerRange: true})
          .form-elements__input
            .form-elements__input-header
              .form-elements__input-header-label.cta-text subscription text field
            .form-elements__input-item-subscribe
              +input({placeholder: 'Email', forwardArrow: true})
        .form-elements__content-column
          .form-elements__checkbox-list
            +checkbox-list(checkboxList)
          .form-elements__radiobutton-list
            +radiobutton-list(radioButtons)
          .form-elements__toggle-list
            .form-elements__input-header.form-elements_input-header-toogle
              .form-elements__input-header-label.cta-text Toggle
            .form-elements__input.form-elements_input-toogle
              +toggle({label: 'Получать спецпредложения', checked: true})
            .form-elements__input
              +toggle({label: 'Получать спецпредложения'})
          .form-elements__like-button
            .form-elements__input-header
              .form-elements__input-header-label.cta-text like button
            .form-elements__like-button-items
              .form-elements__like-button-item
                +like-button({value: 2})
              .form-elements__like-button-item
                +like-button({value: 12, isVoted: true})
          .form-elements__rate-button
            .form-elements__input-header
              .form-elements__input-header-label.cta-text rate button
            .form-elements__rate-button-items
              +rate-button({value: 4})
              +rate-button({value: 5})
        .form-elements__content-column
          .form-elements__range-slider
            +range-slider(rangeSlider)
          .form-elements__buttons
            .form-elements__input-header
              .form-elements__input-header-label.cta-text buttons
            .form-elements__buttons-items
              each buttonRow in buttons
                .form-elements__buttons-items-row
                  each button in buttonRow
                    .form-elements__buttons-item
                      +button(button)
          .form-elements__icon-links
            +icon-link({label: 'CLICK ME'})
            +icon-link({label: 'CLICK ME', hover: true})
          .form-elements__button-large
            +button({label: 'перейти к оплате', size: 'l', arrow: true})
          .form-elements__pagination
            .form-elements__input-header
              .form-elements__input-header-label.cta-text pagination
            .form-elements__pagination-item
              +pagination({pagesCount: 180, perPage: 12, curentPage:1})
      .form-elements__content
        .form-elements__content-column
          .form-elements__input.form-elements__input_size-m
            +dropdown(dropdownRooms)
          .form-elements__input.form-elements__input_size-m
            +dropdown(dropdownRoomsExpanded)
