include templates/head
include block/header/header
include block/footer/footer-creative/footer-creative
include block/footer/footer-widgets/footer-widgets
-
  const menu = [
  {name:'Home',url:'javascript:;',selected:true},
  {name:'About Us',url:'javascript:;'},
  {name:'Services',url:'javascript:;',items:[{name:'test2_1', url:'javascript:;'},{name:'test2_2',url:'javascript:;'}]},
  {name:'Careers',url:'javascript:;'},
  {name:'News',url:'javascript:;'},
  {name:'Documentation',url:'javascript:;'}
  ];
  const user = {name: 'Cosmin Negoita'}
  const headerOptions = {menu}
  const headerUserOptions = {menu, user}
  const footerCreativeOptions = {text: 'Lorem ipsum dolor sit amet consectetur adipiscing elit aliquam eget nullam pellentesque aliquam curabitur cociis.'}
  const footerWidgetsOptions = {
  logoText:'Lorem ipsum dolor sit amet consectetur adipiscing elit aliquam eget nullam pellentesque aliquam curabitur cociis.',
  menuColumn : [
  {
    label : {url:'javascript:;', text:'Navigation'},
    items : [{url:'javascript:;', text:'About Us'}, {url:'javascript:;', text:'News'}, {url:'javascript:;', text:'Support'}, {url:'javascript:;', text:'Products'}]
  },
  {
    label : {url:'javascript:;', text:'About Us'},
    items : [{url:'javascript:;', text:'Who we are'}, {url:'javascript:;', text:'Our team'}, {url:'javascript:;', text:'Careers'}, {url:'javascript:;', text:'Investors'}]
  },
  {
    label : {url:'javascript:;', text:'Support'},
    items : [{url:'javascript:;', text:'Documentation'}, {url:'javascript:;', text:'Community'}, {url:'javascript:;', text:'Get in Touch'}]
  }
  ],
  subscribe : {
    label : 'Subscribe to our newsletter',
    placeholder : 'Your email address',
    text : 'Receive our latest news and promotions in your inbox!'
  },
  copyright : 'Copyright © 2018 Toxin UI Kit. All rights reserved.'
  }
doctype html
html
  +head({title: 'headers_footers', page: 'headers_footers'})
  body.headers-footers
    .headers-footers__content
      header.headers-footers__header
        include block/ui-header/ui-header
      .headers-footers__headers
        .headers-footers__item
          +header(headerOptions)

        .headers-footers__item
          +header(headerUserOptions)
      .headers-footers__footers
        .headers-footers__item.headers-footers__item-widget
          +footer-widgets(footerWidgetsOptions)
        .headers-footers__item
          +footer-creative(footerCreativeOptions)
