include templates/head
include block/header/header
- const menu = [
- {name:'Home',url:'#',selected:true},
- {name:'About Us',url:'#'},
- {name:'Services',url:'#',items:[{name:'test2_1', url:'#'},{name:'Services',url:'#'}]},
- {name:'Careers',url:'#'},
- {name:'News',url:'#'},
- {name:'Documentation',url:'#'}
- ];
- const user = {name: 'Cosmin Negoita'}
- const headerOptions = {menu:menu}
- const headerUserOptions = {menu:menu, user:user}
doctype html
html
  +head({title: 'headers_footers', page: 'headers_footers'})
  body
    .headers-footers
      header.headers-footers__header
        include block/ui-header/ui-header
      .headers-footers__headers
        .headers-footers__headers-item
          +header(headerOptions)
        .headers-footers__headers-item
          +header(headerUserOptions)
      .headers-footers__footers
        .headers-footers__headers-item
          include block/footer/footer-creative/footer-creative
        .headers-footers__headers-item
          include block/footer/footer-widgets/footer-widgets
